.Post {
  text-align: left;
  font-size: calc(10px + 1vmin);
  padding: 15px;
}

.Post-image {
  object-fit: contain;
}

.Post-title {
  text-align: center;
  font-size: calc(10px + 4vmin);
  padding: 25px;
}

.Comment {
  text-align: left;
  font-size: calc(10px + 1vmin);
  padding: 15px;
  border-top: solid white 1px;
  border-bottom: solid white 1px;
}

.Comment-list {
  text-align: left;
  padding: 15px;
}
