.Post {
  text-align: left;
  font-size: calc(10px + 1vmin);
  padding: 15px;
}

.SelfText a {
  color: #bbbbbb;
}

.Post-image {
  object-fit: contain;
  max-width: 100%;
}

.Post-title {
  text-align: center;
  font-size: calc(10px + 4vmin);
  padding: 25px;
}

.Post-author {
  text-align: center;
  font-size: calc(10px + 1vmin);
  padding: 5px;
}

.Post-date {
  text-align: center;
  font-size: 10px;
  padding: 5px;
}

.Comment {
  text-align: left;
  font-size: calc(10px + 1vmin);
  border-top: solid white 1px;
  border-bottom: solid white 1px;
}

.Comment a {
  color: #cccccc;
  background: #111111;
}

.CommentParentQuote {
  color: #aaaaaa;
  background: #333333;
}

.Comment-author {
  color: #cccccc;
  font-size: 8px;
}

.Comment-date {
  color: #aaaaaa;
  padding-left: 5px;
  font-size: 8px;
}

.Comment-list {
  text-align: left;
  padding: 15px;
}
