.Directory {
  text-align: left;
}

.Directory-member {
  border-top: solid black;
  border-bottom: solid black;
}

a {
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  padding: 30px;
  background: #111111;
  text-decoration: none;
}
