.Article-member {
  text-align: left;
  padding: 10px;
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  background: #111111;
}

.Article-member a {
  color: white;
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.Article-author {
  font-size: 10px;
}

.Subreddit-name {
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  background: #444444;
  margin: 0;
  padding: 15px;
}
